body{
 background-color:rgb(160, 238, 255);


}
hr{
border-color: rgb(0, 0, 0);

}
button{
border-color: rgb(71, 139, 255);
color: rgb(255, 255, 255);
background-color:rgb(71, 139, 255) ;

}
h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
